CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug
_deps
glfw
.idea
glfw-build
googletest-build
googletest-download
googletest-src
shader_s.h
shader.fs
shader.vs
Objects.cbp
Objects
stb
stb-cmake
container.jpg
libglad.a
lib
libmap_editor_lib.a
new.json
